<mat-card class="example-card" *ngFor="let data of dish;let i = index">
  <img mat-card-image src="{{data.food_pic}}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <div class="dish-heading">
      <h4>{{data.food_name}}</h4>
    </div>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. In corporis dolore quaerat placeat 
      enetur magnam vero doloremque consequatur tempora illum cum rerum consectetur nulla voluptas 
      qui voluptatem atque, ipsum accusamus!
     
    </p>
       <p >₹ {{data.price}}</p>

    <div style="width: 180px;height: 32px;display: inline-flex;">
         
        <button mat-icon-button [ngClass]="{'selected':favservice.checkSelected(data) }" (click)='favservice.fav(data,i)'>
  
          <mat-icon  >favorite</mat-icon>
        </button>
      <button style="width: 136px;height: 41px;margin-left: 35px;" (click)="cartService.addToCart(data,1)">
        Add to Cart
      </button>
    </div>
  </mat-card-content>
  

</mat-card>