<!-- <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center"> -->
<div class="alig">
  <mat-card class="example-card" *ngFor="let data of dish;let i = index">
    <img mat-card-image src="{{data.food_pic}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <div class="dish-heading">
        <h4>{{data.food_name}}</h4>
      </div>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
        very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p><div style="width: 100%;display: inline-flex">
       <p style="padding-right: 10px">₹ {{data.price}} </p>
      <div class="quantity-manange">
          <button class="btn btn-sm btn-primary">-</button>
          <div style="padding: 10px;">2</div>
          <button class="btn btn-sm btn-primary">+</button>
        </div></div>
    </mat-card-content>
    
  </mat-card>

    
</div>




<!-- <div class="alig">
  <mat-card class="example-card" *ngFor="let data of dish;let i = index">
    <img mat-card-image src="{{data.food_pic}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <div class="dish-heading">
        <h4>{{data.food_name}}</h4>
      </div>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
        very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p><div style="width: 100%;display: inline-flex">
       <p style="padding-right: 10px">₹ {{data.price}} </p>
      <div class="quantity-manange">
          <button class="btn btn-sm btn-primary">-</button>
          <div style="padding: 10px;">2</div>
          <button class="btn btn-sm btn-primary">+</button>
        </div></div>
    </mat-card-content>
    
  </mat-card>
</div> -->