<h1 *ngIf="cart.length == 0">No Favourites</h1>
<table *ngIf = "cart.length" class="cart-list">

  <thead>
  <tr>
    <th>Product Image</th>
    <th>Resturant Name</th>
    <th>Product Name</th>
    <th>Product Price</th>
    <th>Action</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of cart; let i = index">
    <td class="cart-list__img">
      <img src={{product.food_pic}} alt={{product.name}}>
    </td>
    <td>
      <span>{{product.restName}}</span>
    </td>
    <td>
      <span>{{product.food_name}}</span>
    </td>
    <td class="cart-list__price">
      <span class="price">{{product.price}}</span>
    </td>
  
   
    <td>
      <button mat-mini-fab color="warn" (click)="favService.deleteItem(product)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </tr>
  </tbody>
</table>

