.cart-list {
    width: 100%;
    max-width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    border-spacing: 0;
    color: #5677a0;
  }
  
  td, th {
    text-align: left;
    padding: 8px;
  }
  
  th {
    white-space: nowrap;
    background-color: #eff2f6;
  }
  tr:nth-child(even) {
    background-color: #fafbfc;
  }
  tbody td {
    border-bottom: 2px solid #dfe3e9;
  }
  
  .cart-list__img img {
    width: 60px;
    height: 60px;
  }
  
  /* .cart-list__price {
    text-align: center;
  }
   */
  .price {
    font-weight: 700;
  }
  
  .cart-list__input {
    text-align: center;
  }
  
  .input {
    font-size: 16px;
    border: 2px solid #dfe3e9;
    border-radius: 6px;
    padding: 8px 0;
    text-align: center;
    width: 4em;
    color: #5677a0;
  }
  
  .cart-list__subtotal {
    text-align: center;
  }
  
  .totals {
    display: flex;
    justify-content: flex-end;
    margin-right: 2em;
  }
  .total_price {
    color: #5677a0;
  }