<div class="container-fluid">

  <div class="contain">
    <div class="alig">
      <button class="vg" md-icon-button md-fab-image type="button" routerLink="/snacks">
        <div class="div1" style="background-image: url(../../assets/4.jpg)">
          <p>Non-veg</p>
        </div>
      </button>
    </div>
    <div class="alig">
      <button class="vg" md-icon-button md-fab-image type="button" routerLink="/snacks">
        <div class="div1" style="background-image: url(../../assets/5.jpeg)">
          <p>Veg</p>
        </div>
      </button>
    </div>
  </div>
  <hr>

  <h3 style="margin-left:10px">Cuisine</h3>

  <div class="contain">
    <div class="alig">
      <button class="vg" md-icon-button md-fab-image type="button" routerLink="/snacks">
        <div class="div1" style="background-image: url(../../assets/snack.jpeg)">
          <p>Snacks</p>
        </div>
      </button>
    </div>
    <div class="alig">
      <button class="vg" md-icon-button md-fab-image type="button" routerLink="/lunch">
        <div class="div1" style="background-image: url(../../assets/lunch.jpeg)">
          <p>Lunch</p>
        </div>
      </button>
    </div>
    <div class="alig">
      <button class="vg" md-icon-button md-fab-image type="button" routerLink="/breakfast">
        <div class="div1" style="background-image: url(../../assets/4.jpg)">
          <p>Breakfast</p>
        </div>
      </button>
    </div>
    <div class="alig">
      <button class="vg" md-icon-button md-fab-image type="button" routerLink="/lunch">
        <div class="div1" style="background-image: url(../../assets/2.jpeg)">
          <p>Dinner</p>
        </div>
      </button>
    </div>
    <div class="alig">
      <button class="vg" md-icon-button md-fab-image type="button" routerLink="/juices">
        <div class="div1" style="background-image: url(../../assets/juice.jpeg)">
          <p>Juices</p>
        </div>
      </button>
    </div>
    <div class="alig">
      <button class="vg" md-icon-button md-fab-image type="button" routerLink="/deserts">
        <div class="div1" style="background-image: url(../../assets/cake.jpeg)">
          <p>Cake</p>
        </div>
      </button>
    </div>
  </div>



</div>